.carousel {
  overflow: hidden;
  position: relative;
  width: 50%;
}

.carousel-items {
  display: flex;
  transition: transform 0.5s ease-in-out; /* Adjusted to make transition smoother */
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
}

.carousel-item img {
  width: 100%;
  height: auto;
}
